<header class="page-header w">
{% if page.url == "/" %}
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
{% else %}
    <h2><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h2>
{% endif %}
<div class="site-tagline" style="display: none;">
    <div class="site-tagline-item">A Periodical for True Duck Connoisseurs.</div>
    <div class="site-tagline-item">Encoding Semantics, One Underscore at a Time</div>
    <div class="site-tagline-item">Python, But Make It Meta</div>
    <div class="site-tagline-item">Readability, Elevated to the Absurd</div>
    <div class="site-tagline-item">Turning Zen into Chaos</div>
    <div class="site-tagline-item">UX button masher goes to the Snake-land</div>
    <div class="site-tagline-item">Where PEPs Fear to Tread</div>
</div>
</header>
